// import dark theme
@use 'element-plus/theme-chalk/src/dark/css-vars.scss' as *;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--el-bg-color);
  font-family: 'Lato', sans-serif;
  color: var(--el-text-color-primary);
}

a {
  text-decoration: none;
}

.el-col ~ .el-col,
.el-row ~ .el-row {
  margin-top: 20px;
}

.el-button .el-icon {
  width: 14px;
  height: 14px;
}

.el-drawer__header {
  margin-bottom: 0 !important;
}
